In [4]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [5]:
import zoo
zoo.hours()

Open 9-5 daily

In [6]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
''')
conn.commit()
conn.close()

In [8]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT title FROM books ORDER BY title ASC")
titles = cursor.fetchall()
for title in titles:
    print(title[0])
conn.close()

In [9]:
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, select
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
books = Table('books', metadata,
              Column('title', String),
              Column('author', String),
              Column('year', Integer),
              extend_existing=True)
metadata.create_all(engine)
with engine.connect() as connection:
    query = select([books.c.title]).order_by(books.c.title)
    result = connection.execute(query)
    titles_sqlalchemy = [row['title'] for row in result]
titles_sqlalchemy

[]

In [10]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Inserting data to test
cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
               ('To Kill a Mockingbird', 'Harper Lee', 1960))
cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
               ('1984', 'George Orwell', 1949))
cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
               ('The Great Gatsby', 'F. Scott Fitzgerald', 1925))

conn.commit()
conn.close()

In [11]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute("SELECT title FROM books ORDER BY title ASC")
titles = cursor.fetchall()
for title in titles:
    print(title[0])
conn.close()

1984
The Great Gatsby
To Kill a Mockingbird

In [12]:
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
books = Table('books', metadata,
              Column('title', String),
              Column('author', String),
              Column('year', Integer),
              extend_existing=True)
metadata.create_all(engine)
with engine.connect() as connection:
    query = select([books.c.title]).order_by(books.c.title)
    result = connection.execute(query)
    titles_sqlalchemy = [row['title'] for row in result]
titles_sqlalchemy

['1984', 'The Great Gatsby', 'To Kill a Mockingbird']